@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu";
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

header {
  width: 100%;
  height: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}
header .header__content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__content .logo img:first-child {
  margin-right: 40px;
}
header .header__content nav {
  width: 478px;
  height: 100%;
}
header .header__content nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
header .header__content nav ul li {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
header .header__content .buttons__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__content .buttons__sign input {
  width: 230px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  outline: 0;
  border: 0;
  background-color: lightgray;
  border-top: 1px solid gray;
  margin-right: 15px;
}
header .header__content .buttons__sign span {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
header .header__content .carts {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header__content .carts div {
  position: relative;
}
header .header__content .carts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .header__content .carts a span {
  position: absolute;
  top: -14px;
  right: -10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 1594px;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}
.info .left__part {
  width: 50%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  padding-left: 135px;
}
.info .left__part .info__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 425px;
  aspect-ratio: 1/1;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  padding-top: 104px;
  padding-bottom: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 43px;
}
.info .left__part .info__photos .icons {
  position: absolute;
  top: 22px;
  right: 18px;
}
.info .left__part .info__photos .sm-photos {
  margin: 0;
  padding: 0;
}
.info .left__part .info__photos .sm-photos img:not(:last-child) {
  margin-right: 10px;
}
.info .left__part .info__photos .main__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.info .left__part .tags {
  width: 421px;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
  color: #75758A;
}
.info .left__part .tags span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 22px;
  margin-right: 10px;
}
.info .left__part .tags span:nth-child(3) {
  margin-left: 0;
}
.info .right__part {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.info .right__part .first__paragraph {
  margin-bottom: 14px;
}
.info .right__part .first__paragraph p {
  font-weight: 400;
  font-size: 14px;
  color: #75758A;
  margin: 0;
}
.info .right__part .title {
  margin-bottom: 13px;
}
.info .right__part .title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: #8EE901;
  padding: 0;
  margin: 0;
}
.info .right__part .title p {
  width: 546px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.info .right__part .cash__button {
  margin-bottom: 50px;
}
.info .right__part .cash__button button {
  width: 100px;
  background: #4F9C2C;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  outline: 0;
  border: 0;
}
.info .right__part .tables {
  width: 635px;
  border-bottom: 1px solid #E3E3E3;
}
.info .right__part .tables button {
  width: 118px;
  padding: 16px 0;
  background: #F7F7F7;
  border: 1px solid #E3E3E3;
  border-top: 2px solid #E3E3E3;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #75758A;
}
.info .right__part .tables button:last-child {
  width: 172px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  margin-left: -5px;
  border-top: 2px solid #8EE901;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.info .right__part .specifications {
  width: 635px;
  margin-bottom: 25px;
}
.info .right__part .specifications section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
  padding: 14px 0;
}
.info .right__part .specifications section h3 {
  font-weight: 400;
  font-size: 14px;
  color: #75758A;
  margin: 0;
}
.info .right__part .specifications section p {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
.info .right__part .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 635px;
  margin-bottom: 45px;
}
.info .right__part .button button {
  width: 160px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  padding: 12px 0;
  border: 0;
  outline: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.info .right__part .equipment {
  width: 635px;
  margin-bottom: 45px;
}
.info .right__part .equipment h5 {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 21px;
}
.info .right__part .equipment .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 635px;
}
.info .right__part .equipment .titles div {
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.info .right__part .equipment .titles div h6 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
.info .right__part .equipment .titles div .green {
  color: #60B021;
  margin-right: 10px;
}
.info .right__part .equipment .titles2 {
  margin-bottom: 25px;
}
.info .right__part .equipment .titles2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 14px 0;
  border-bottom: 1px solid #EFEFEF;
}
.info .right__part .equipment .titles2 div h6 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.info .right__part .equipment .titles2 div .green {
  color: #60B021;
  margin-right: 10px;
}
.info .right__part .equipment .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info .right__part .equipment .btn button {
  width: 160px;
  padding: 12px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border: 0;
  outline: 0;
}
.info .right__part .pricing {
  width: 635px;
  margin-bottom: 47px;
}
.info .right__part .pricing h5 {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 21px;
}
.info .right__part .pricing .pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}
.info .right__part .pricing .pricing__cards article {
  padding: 23px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
.info .right__part .pricing .pricing__cards article h6 {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}
.info .right__part .pricing .pricing__cards article p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #75758A;
  margin: 0;
}
.info .right__part .pricing .pricing__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info .right__part .pricing .pricing__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  padding: 17px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#8EE902), to(#4F9C2C));
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  border-radius: 100px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.info .right__part .pricing .pricing__btn button img {
  margin-right: 7px;
}
.info .right__part .pricing .pricing__btn button span {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.info .right__part .desc {
  width: 635px;
  margin-bottom: 12px;
}
.info .right__part .desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #75758A;
  margin: 0;
}
.info .right__part table {
  width: 635px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
}
.info .right__part table tr th {
  font-weight: 400;
  font-size: 14px;
  color: #75758A;
  text-align: start;
  padding: 15px;
  border-bottom: 1px solid #EFEFEF;
}
.info .right__part table tr td {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding: 14px 20px;
}
.info .right__part table tr td span {
  font-weight: 400;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #60B021;
}
.info .right__part table tr:not(:last-child) {
  border-bottom: 1px solid #EFEFEF;
}

.pricing2 {
  width: 100%;
  padding: 74px 0px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 80px;
}
.pricing2 .description p {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 26px;
}
.pricing2 .pricing2__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pricing2 .pricing2__cards section {
  position: relative;
  width: 255px;
  padding: 28px 20px 21px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pricing2 .pricing2__cards section .imgIcons {
  position: absolute;
  top: 21px;
  right: 18px;
}
.pricing2 .pricing2__cards section .canon {
  margin-bottom: 38px;
}
.pricing2 .pricing2__cards section .sony {
  margin-bottom: 32px;
}
.pricing2 .pricing2__cards section .eoskit {
  margin-bottom: 0px;
}
.pricing2 .pricing2__cards section .fujifilm {
  margin-bottom: 29px;
}
.pricing2 .pricing2__cards section .text h6 {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  color: #000000;
  margin-bottom: 0;
}
.pricing2 .pricing2__cards section .text span {
  font-weight: 400;
  font-size: 14px;
  color: #75758A;
}
.pricing2 .pricing2__cards section h5 {
  font-weight: 400;
  font-size: 14px;
  color: #60B021;
  margin: 0;
  margin-bottom: 13px;
}
.pricing2 .pricing2__cards section .pricing2__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing2 .pricing2__cards section .pricing2__btn button {
  width: 215px;
  padding: 12px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.subscribe {
  width: 100%;
  padding: 16px 0;
  background: #515668;
  margin-bottom: 0;
}
.subscribe .subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subscribe .subscribe__content .announce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .subscribe__content .announce img {
  margin-right: 10px;
}
.subscribe .subscribe__content .announce p {
  width: 153px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.subscribe .subscribe__content .announce span {
  color: #8EE901;
}
.subscribe .subscribe__content .input__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .subscribe__content .input__field input {
  width: 315px;
  padding: 12px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  outline: 0;
  border: 0;
  font-weight: 400;
  font-size: 14px;
}
.subscribe .subscribe__content .input__field button {
  width: 160px;
  padding: 12px 0;
  background: #4F9C2C;
  outline: 0;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.subscribe .subscribe__content .phone__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe .subscribe__content .phone__call img {
  margin-right: 10px;
}
.subscribe .subscribe__content .phone__call p {
  font-weight: 700;
  font-size: 16px;
  color: #8EE901;
}

@media only screen and (max-width: 600px) {
  .subscribe {
    width: 100%;
    padding: 16px 0;
    background: #515668;
    margin-bottom: 0;
  }
  .subscribe .subscribe__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe .subscribe__content .announce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__content .announce img {
    margin-right: 10px;
  }
  .subscribe .subscribe__content .announce p {
    width: 153px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }
  .subscribe .subscribe__content .announce span {
    color: #8EE901;
  }
  .subscribe .subscribe__content .input__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__content .input__field input {
    width: 315px;
    padding: 12px 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    outline: 0;
    border: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .subscribe .subscribe__content .input__field button {
    width: 160px;
    padding: 12px 0;
    background: #4F9C2C;
    outline: 0;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }
  .subscribe .subscribe__content .phone__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__content .phone__call img {
    margin-right: 10px;
  }
  .subscribe .subscribe__content .phone__call p {
    font-weight: 700;
    font-size: 16px;
    color: #8EE901;
  }
}
footer {
  width: 100%;
}
footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
footer .footer__content .beginner {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
footer .footer__content ul {
  margin: 0;
  padding: 0;
}
footer .footer__content ul li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  width: 200px;
  margin: 0;
  padding: 0;
}
footer .footer__content ul li:not(:last-child) {
  margin-bottom: 20px;
}
footer .footer__content .first__block {
  padding: 0;
  margin: 0;
}
footer .footer__content .first__block img {
  margin-bottom: 20px;
}
footer .footer__content .first__block .first {
  width: 200px;
  margin-bottom: 15px;
  line-height: 20px;
}
footer .footer__content .first__block li,
footer .footer__content .first__block a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  margin-bottom: 0;
}
footer .footer__content .first__block .sm-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}
footer .footer__content .first__block .sm-icons img {
  width: 25px;
  padding: 0;
  margin: 0;
}
footer .footer__content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 251px;
}/*# sourceMappingURL=position.css.map */