.feature {
    width: 100%;
    height: 130px;
    background: #F5F5F5;
    margin-bottom: 1000px;

    .feature__content {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 45px 0;
        box-sizing: border-box;
    }

    .cards {
        display: flex;
        align-items: center;

        span {
            width: 142px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            margin-left: 19px;
        }
    }
}