header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 27px 9px 135px;
    box-sizing: border-box;

    .logo {
        display: flex;
        align-items: center;
        width: max-content;

        img {
            &:first-child {
                margin-right: 40px;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        width: max-content;
        height: 100%;

        .contact {
            margin-right: 46px;

            h3 {
                font-weight: 700;
                font-size: 16px;
                color: #000000;
                margin: 0;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                color: #75758A;
            }
        }

        .carts {
            margin-right: 70px;

            div {
                position: relative;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            a {
                display: flex;


                span {
                    position: absolute;
                    top: -14px;
                    right: -10px;
                }

            }
        }

        .searchSign {
            img {
                &:first-child {
                    margin-right: 58px;
                }
            }
        }
    }
}