.feature {
    width: 100%;
    height: 130px;
    background: #F5F5F5;
    margin-bottom: 56px;

    .feature__content {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 45px 0;
        box-sizing: border-box;
    }

    .cards {
        display: flex;
        align-items: center;

        span {
            width: 142px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            margin-left: 19px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .feature {
        width: 100%;
        height: fit-content;
        margin-bottom: 60px;

        .feature__content {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
            padding: 0;
        }

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 160px;

            img {
                margin-bottom: 15px;
            }

            span {
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                color: #000000;
                text-align: center;
                margin-left: 0;
            }
        }
    }
}