header {
    width: 100%;

    .container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        .logoMobile {
            display: none;
        }

        nav {
            width: 478px;

            ul {
                display: flex;
                justify-content: space-between;
                margin: 0;

                li {
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #000000;
                    margin: 0;

                    &:hover {
                        cursor: pointer;
                        color: #555;
                        text-decoration: underline;
                    }
                }
            }
        }

        .carts {
            width: 400px;
            height: 50px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                transition: 0.3s;
            }

            img:hover {
                transform: scale(1.19);
            }

            div {
                position: relative;
            }

            a {
                display: flex;
                align-items: center;
                height: 100%;
                border-left: 1px solid #EFEFEF;
                border-right: 1px solid #EFEFEF;

                img {
                    padding-left: 27px;
                    padding-right: 27px;
                }

                span {
                    position: absolute;
                    top: -14px;
                    right: -10px;
                }

            }
        }

        .iconsMobile {


            .lockedMobile {
                display: none;
            }

            .menuMobile {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    header {
        width: 100%;

        .container2 {
            width: 80%;

            .logoMobile {
                display: none;
            }

            nav {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    header {
        width: 100%;

        .container2 {
            width: 80%;


            nav {
                width: 478px;
                display: none;
            }

            .carts {
                width: 200px;

                .searchSign {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    header {
        width: 100%;

        .container2 {
            width: 100%;

            .logo {
                display: none;
            }

            nav {
                display: none;
            }

            .carts {
                width: 100px;

                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border: 0;

                    img {
                        padding: 0;
                    }

                }
            }

            .searchSign {
                display: none;
            }

            .logoMobile {
                display: flex;
            }

            .iconsMobile {
                width: 100px;
                display: flex;
                justify-content: space-between;
                overflow: hidden;


                .lockedMobile {
                    display: flex;
                }

                .searchMobile {
                    display: flex;
                }

                .menuMobile {
                    display: flex;
                }
            }
        }
    }
}