header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding-left: 135px;

    .logo {
        display: flex;
        align-items: center;
        margin-right: 134px;

        img {
            &:first-child {
                margin-right: 40px;
            }
        }
    }


    nav {
        width: 478px;
        height: 100%;
        margin-right: 107px;


        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;

            li {
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                color: #000000;
            }
        }
    }

    .carts {
        width: 302px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 30px;

        div {


            position: relative;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
            border-left: 1px solid #EFEFEF;
            border-right: 1px solid #EFEFEF;

            img {
                padding-left: 27px;
                padding-right: 27px;
            }

            span {
                position: absolute;
                top: -14px;
                right: -10px;
            }

        }
    }

    .logoMobile {
        display: none;
    }

    .searchSign {
        img {
            &:first-child {
                margin-right: 58px;
            }
        }
    }

    .lockedMobile {
        display: none;
    }

    .menuMobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px;

        .logo {
            display: none;
        }


        nav {
            display: none;
            margin-right: 0;
        }

        .carts {
            width: 88px;

            a {
                margin-right: 0;
                border: 0;

                img {
                    width: 16px;
                    padding: 0;
                }
            }
        }

        .searchSign {
            display: none;
        }

        .logoMobile {
            display: flex;
        }



        .iconsMobile {
            display: flex;
            justify-content: space-between;
            width: 121px;

            .lockedMobile {
                display: flex;
            }

            .searchMobile {
                display: flex;
            }

            .menuMobile {
                display: flex;
            }
        }
    }
}