.subscribe {
    width: 100%;
    padding: 16px 0;
    background: #515668;
    margin-bottom: 0;

    .subscribe__content {
        display: flex;
        justify-content: space-between;

        .announce {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    transform: translateY(-10px)
                }
            }

            p {
                width: 153px;
                font-weight: 700;
                font-size: 16px;
                color: #fff;
            }

            span {
                color: #8EE901;
            }
        }

        .input__field {
            display: flex;
            align-items: center;

            input {
                width: 475px - 160px;
                padding: 12px 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
                outline: 0;
                border: 0;
                font-weight: 400;
                font-size: 14px;
            }

            button {
                width: 160px;
                padding: 12px 0;
                background: #4F9C2C;
                outline: 0;
                border: 0;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 20px 0 #4F9C2C;
                }
            }
        }

        .phone__call {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    transform: translateY(-10px)
                }
            }

            p {
                font-weight: 700;
                font-size: 16px;
                color: #8EE901;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .subscribe {
        .subscribe__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .announce {
                display: none;
            }

            .input__field {
                width: 100%;
                display: flex;
                justify-content: center;

                input {
                    width: 40%;
                }

                button {
                    width: 40%;
                }
            }

            .phone__call {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .subscribe {
        .subscribe__content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .announce {
                display: none;
            }

            .input__field {
                width: 100%;
                display: flex;
                justify-content: center;

                input {
                    width: 40%;
                }

                button {
                    width: 40%;
                }
            }

            .phone__call {
                display: none;
            }
        }
    }
}