.info {
    display: flex;
    width: 90%;
    height: 1594px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 500px;

    .left__part {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 135px;

        .info__photos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 425px;
            aspect-ratio: 1/1;
            background: #FFFFFF;
            border: 1px solid #EFEFEF;
            padding-top: 104px;
            padding-bottom: 21px;
            box-sizing: border-box;
            margin-bottom: 43px;

            .icons {
                position: absolute;
                top: 22px;
                right: 18px;
            }

            .sm-photos {
                margin: 0;
                padding: 0;

                img {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }

            .main__photos {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .tags {
            width: 421px;
            line-height: 28px;
            font-weight: 400;
            font-size: 14px;
            color: #75758A;

            span {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                margin-left: 22px;
                margin-right: 10px;

                &:nth-child(3) {
                    margin-left: 0;
                }
            }
        }


    }

    .right__part {
        width: 50%;
        height: 100%;
        padding-top: 50px;
        padding-left: 50px;
        box-sizing: border-box;

        .first__paragraph {
            margin-bottom: 14px;

            p {
                font-weight: 400;
                font-size: 14px;
                color: #75758A;
                margin: 0;
            }
        }

        .title {
            margin-bottom: 13px;

            h1 {

                font-weight: 700;
                font-size: 30px;
                line-height: 34px;
                text-transform: uppercase;
                color: #8EE901;
                padding: 0;
                margin: 0;
            }

            p {
                width: 546px;
                font-weight: 700;
                font-size: 30px;
                line-height: 34px;
                text-transform: uppercase;
                color: #000000;
                margin: 0;
            }
        }

        .cash__button {
            margin-bottom: 50px;

            button {
                width: 100px;
                background: #4F9C2C;
                padding: 10px 0;
                font-weight: 700;
                font-size: 14px;
                color: #FFFFFF;
                outline: 0;
                border: 0;
            }
        }

        .tables {
            width: 635px;
            // background-color: blue;
            border-bottom: 1px solid #E3E3E3;

            button {
                width: 118px;
                padding: 16px 0;
                background: #F7F7F7;
                border: 1px solid #E3E3E3;
                border-top: 2px solid #E3E3E3;
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                color: #75758A;
            }

            button:last-child {
                width: 172px;
                background: #FFFFFF;
                border: 1px solid #E3E3E3;
                margin-left: -5px;
                border-top: 2px solid #8EE901;
                box-sizing: border-box;
                font-weight: 700;
                font-size: 16px;
                color: #000000;
            }
        }

        .specifications {
            width: 635px;
            margin-bottom: 25px;

            section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #EFEFEF;
                width: 100%;
                padding: 14px 0;

                h3 {
                    font-weight: 400;
                    font-size: 14px;
                    color: #75758A;
                    margin: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    color: #000000;
                    margin: 0;
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            width: 635px;
            margin-bottom: 45px;

            button {
                width: 160px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                border-radius: 100px;
                padding: 12px 0;
                border: 0;
                outline: 0;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                color: #000000;
            }
        }

        .equipment {
            width: 635px;
            margin-bottom: 45px;

            h5 {
                font-weight: 700;
                font-size: 16px;
                color: #000000;
                margin: 0;
                margin-bottom: 21px;
            }

            .titles {
                display: flex;
                justify-content: space-between;
                width: 635px;


                div {
                    width: 305px;
                    display: flex;
                    align-items: center;
                    padding: 14px 0;
                    border-top: 1px solid #efefef;
                    border-bottom: 1px solid #efefef;

                    h6 {
                        font-weight: 400;
                        font-size: 14px;
                        color: #000000;
                        margin: 0;
                    }

                    .green {
                        color: #60B021;
                        margin-right: 10px;
                    }
                }
            }

            .titles2 {
                margin-bottom: 25px;

                div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 14px 0;
                    border-bottom: 1px solid #EFEFEF;

                    h6 {
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0;
                    }

                    .green {
                        color: #60B021;
                        margin-right: 10px;
                    }
                }
            }

            .btn {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    width: 160px;
                    padding: 12px 0;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                    border-radius: 100px;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #000000;
                    border: 0;
                    outline: 0;
                }
            }
        }

        .pricing {
            width: 635px;
            margin-bottom: 47px;

            h5 {
                font-weight: 700;
                font-size: 16px;
                color: #000000;
                margin: 0;
                margin-bottom: 21px;
            }

            .pricing__cards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 30px;

                article {
                    padding: 23px 42px;
                    box-sizing: border-box;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

                    h6 {
                        font-weight: 700;
                        font-size: 16px;
                        text-align: center;
                        color: #000000;
                        margin: 0;
                        margin-bottom: 8px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        text-align: center;
                        color: #75758A;
                        margin: 0;
                    }
                }
            }

            .pricing__btn {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 260px;
                    padding: 17px 0;
                    background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
                    border-radius: 100px;
                    border: 0;
                    outline: 0;
                    cursor: pointer;

                    img {
                        margin-right: 7px;
                    }

                    span {
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .desc {
            width: 635px;
            margin-bottom: 12px;

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #75758A;
                margin: 0;
            }
        }

        table {
            width: 635px;
            box-sizing: border-box;
            border-collapse: collapse;

            tr {
                th {
                    font-weight: 400;
                    font-size: 14px;
                    color: #75758A;
                    text-align: start;
                    padding: 15px;
                    border-bottom: 1px solid #EFEFEF;
                }
            }

            tr {
                td {
                    font-weight: 400;
                    font-size: 14px;
                    color: #000000;
                    padding: 14px 20px;



                    span {
                        font-weight: 400;
                        font-size: 14px;
                        text-decoration-line: underline;
                        color: #60B021;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #EFEFEF;
                }
            }
        }
    }
}