.pricing2 {
    width: 100%;
    padding: 74px 0px 21px;
    box-sizing: border-box;
    margin-bottom: 80px;

    .description {
        p {
            font-weight: 700;
            font-size: 16px;
            color: #000000;
            margin: 0;
            margin-bottom: 26px;
        }
    }

    .pricing2__cards {
        display: flex;
        justify-content: space-between;

        section {
            position: relative;
            width: 255px;
            padding: 28px 20px 21px 17px;
            box-sizing: border-box;

            .imgIcons {
                position: absolute;
                top: 21px;
                right: 18px;
            }

            .canon {
                margin-bottom: 38px;
            }

            .sony {
                margin-bottom: 32px;
            }

            .eoskit {
                margin-bottom: 0px;
            }

            .fujifilm {
                margin-bottom: 29px;
            }

            .text {

                h6 {
                    font-weight: 700;
                    font-size: 14px;
                    margin: 0;
                    color: #000000;
                    margin-bottom: 0;
                }


                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: #75758A;
                }
            }

            h5 {
                font-weight: 400;
                font-size: 14px;
                color: #60B021;
                margin: 0;
                margin-bottom: 13px;
            }

            .pricing2__btn {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    width: 215px;
                    padding: 12px 0;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                    border-radius: 100px;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #000000;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                }
            }
        }
    }
}